.productdisplay{
    display: flex;
    margin: 0px 120px;
    margin-bottom: 150px;
}
.productdisplay-left{
    display: flex;
    gap: 17px;
}
.productdisplay-image-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.productdisplay-image-list img{
    height: 130px;
}
.productdisplay-main-img {
    width: 450px;
    height: 570px;
}
.productdisplay-right{
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
}
.productdisplay-right h2{
    color: rgb(82, 82, 82);
    font-size: 30px;
    font-weight: 700;
}
.productdisplay-right-star{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: rgb(45, 44, 44);
    font-size: 16px;
}
.productdisplay-right-prices{
    display: flex;
    margin: 15px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}
.productdisplay-right-old-price{
    color: #363535;
    text-decoration: line-through;
}
.productdisplay-right-new-price{
    color: rgb(0, 136, 255);
}
.productdisplay-right-size h2{
    margin-top: 25px;
    color: #363535;
    font-size: 20px;
    font-weight: 600;

}
.productdisplay-right-sizes{
    display: flex;
    margin: 10px 0px;
    gap: 20px;
}
.productdisplay-right-sizes div{
    padding: 5px 20px;
    background: rgb(244, 241, 241);
    border: 1px solid rgb(216, 215, 213);
    border-radius: 5px;
    cursor: pointer;
}
.productdisplay-right button{
    padding: 15px 20px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: whitesmoke;
    background: rgb(1, 184, 245);
    margin: 20px 0px;
    border: none;
    outline: none;
    cursor: pointer;
}
.productdisplay-right-category {
    margin-top: 10px;
}
.productdisplay-right-category span{
    font-weight: 600;
}