.breadcrum{
    display: flex;
    align-items: center;
    gap: 8px;
    color: rgb(115, 116, 117);
    font-size: 16px;
    font-weight: 600;
    margin: 30px 120px;
    text-transform: capitalize;
}